.main-container {
    padding: 20px;
  }
  
  .Main_Top_Bar{
    display: flex;
    list-style-type: none;
  }
  
  .horizontal-list-container {
    display: flex;
    justify-content: flex-end;
  }
  
.horizontal-list {
  list-style-type: none;
  padding: 0;
}
  
  .horizontal-list li {
    margin-left: 10px; /* 각 항목들 사이의 간격을 설정 */
  }
  
  .Main_Top_Bar_header_right_hello ul {
    list-style-type: none; /* 목록 기호 제거 */
    margin: 0;
    padding: 0;
    text-align: right; /* 항목을 오른쪽으로 정렬 */
    overflow: hidden; /* 가로로 메뉴를 표시하기 위해 오버플로 속성 설정 */
    background-color: #333; /* 배경색 설정 */
  }

  .Main_Top_Bar_header_right_hello li {
    float: left; /* 항목을 가로로 배열하기 위해 float 속성 설정 */
  }

  .Main_Top_Bar_header_right_hello li a {
    display: block;
    color: white; /* 텍스트 색상 설정 */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* 링크 밑줄 제거 */
  }

  .Main_Top_Bar_header_right_hello li a:hover {
    background-color: #111; /* 마우스를 올렸을 때 배경색 변경 */
  }
.Main_Top_Bar_header_right_hello{
  padding: 20px;
}

.Main_Top_Bar_H_right{
  text-align: right;
}